* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url("/photo/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
li {
  list-style-type: none;
}
a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
/* nav-bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  background-color: rgba(162, 160, 160, 0.4);
  border-bottom: 2px solid white;
}
.nav-logo {
  width: 50px;
  margin-right: 150px;
}
.nav-logo > img {
  width: 100%;
}
.nav-list {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
}
/* end of nav bar  */
/* After */
.container::after {
  margin: 7rem auto;
  content: "";
  display: block;
  max-width: 150px;
  height: 5px;
  border-radius: 100px;
  background: linear-gradient(to right, #cecece, #838383);
  animation: after 10s ease infinite;
}
/* @keyframes after {
  0% {
    background: linear-gradient(to right, #cecece, #838383);
  }
  20% {
    background: linear-gradient(to right, red, orange);
  }
  40% {
    background: linear-gradient(to right, lightgreen, yellow);
  }
  60% {
    background: linear-gradient(to right, cyan, #dfff00);
  }
  80% {
    background: linear-gradient(to right, #3fff00, #29ab87);
  }
  100% {
    background: linear-gradient(to right, #0000ff, #87d3f8);
  }
} */
.contain {
  margin: 100px auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow-x: scroll;
  padding: 50px 170px;
  gap: 50px;
}
::-webkit-scrollbar {
  display: none;
}
.product {
  width: 300px;
  height: 350px;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 0 0 50px gray;
  background-color: rgba(162, 161, 161, 0.7);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
}
/* hover */
.product:hover {
  background: transparent;
  filter: drop-shadow(0 0 15px white);
  color: white;
  transform: scale(1.2);
}
.product:hover > .mac {
  border-bottom: 2px solid white;
}
.product:hover > .iphone {
  border-bottom: 2px solid white;
}
.product:hover > .ipad {
  border-bottom: 2px solid white;
}
.product:hover > .airpods {
  border-bottom: 2px solid white;
}
.product:hover > .applewatch {
  border-bottom: 2px solid white;
}
.product:hover > .vision-pro {
  border-bottom: 2px solid white;
}
.heading {
  font-size: 2.5rem;
  text-shadow: 0 0 5px;
  margin-top: 1.5rem;
}
.apple-watch-heading {
  font-size: 2.3rem;
  margin-top: 1.8rem;
}
/* Mac */
.mac {
  width: 280px;
}
.mac > img {
  width: 100%;
}
/* IPhone */
.iphone {
  width: 165px;
}
.iphone > img {
  width: 100%;
}
/* IPad */
.ipad {
  width: 280px;
}
.ipad > img {
  width: 100%;
}
/* Air Pods */
.airpods {
  width: 165px;
}
.airpods > img {
  width: 100%;
}
.applewatch {
  width: 175px;
}
.applewatch > img {
  width: 100%;
}
.vision-pro {
  width: 290px;
}
.vision-pro > img {
  width: 100%;
}
.mac > img,
.iphone > img,
.ipad > img,
.airpods > img,
.applewatch > img,
.vision-pro > img {
  filter: drop-shadow(0 0 10px black);
}

/* aside bar */

.sidebar {
  z-index: 10;
  width: 250px;
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: -250px; /* Hidden by default */
  transition: left 0.3s ease;
  padding-top: 60px;
}

.sidebar h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

main {
  margin-left: 20px;
  padding: 20px;
}
